@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
  margin: 0;
  font-family: 'Indie Flower';
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}